:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #ffffff;
  --foreground: #504f4a;
  --primary: #15803d;
  --primary-foreground: #ffffff;
  --secondary: #dad8d6;
  --border: #dad8d6;
}

body {
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2c2c;
    --foreground: #dadad9;
    --secondary: #3c3a38;
    --border: #3c3a38;
  }
}
